table {
  padding: 16px;
  border-top: 2px solid var(--border);
  max-width: 90%;
  width: 800px;
  margin: auto;
  background-color: var(--surface);
  border-radius: 4px;
  box-shadow: var(--shadow);
  margin-bottom: 24px;

  caption {
    font-size: 1.3em;
    margin: 24px;
  }

  td {
    padding: 16px;
  }

  tr:not(:last-child) {
    td {
      border-bottom: 1px dashed var(--border);
    }
  }

  tr.booked td {
    color: var(--text-secondary);
  }

  tr.available td {
    font-weight: 500;
  }
}