dialog {
  max-width: 300px;
  box-sizing: border-box;
  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: 16px;

  &::backdrop {
    background: #00465dc9;
  }

  h2 {
    margin-top: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  select option:checked {
    background-color: var(--primary);
  }

  p {
    color: var(--text-secondary);
    margin: 0;
  }

  footer {
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
